.Report {
  background: repeating-linear-gradient(-10deg, hsla(180, 100%, 80%, 0.2),  hsla(180, 80%, 100%, 1),  hsla(180, 100%, 80%, 0.1));
}

.Report .main {
  flex-grow: 1;
  padding: 2rem 0;
}

.Report .ui.table {
  width: auto;
  margin: auto;
}

.Report .content-wrapper {
  max-width: 720px;
  margin: 0 auto;
}

.Report .image {
  line-height: 0;
}

.Report svg path {
  fill: hsla(180, 50%, 50%, 0.2);
  stroke-width: 1px;
  stroke: hsla(0, 0%, 100%, 1);
}

.Report svg .active path {
  fill: hsla(180, 50%, 50%, 1);
}

.Report .ui.cards>.card>.content>a.header:hover {
  color: hsla(180, 50%, 50%, 1);
}
