.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: hsla(0,0%,0%,0.05);
}

.App .Header,
.App .Footer {
  flex-grow: 0;
  flex-shrink: 0;
}

.App .Header {
  background: #fff;
  box-shadow: 0 1px 1px 0 hsla(0,0%,0%,0.1);
}

.App .Footer {
  background: hsla(0,0%,100%,0.5);
  border-top: 1px #fff solid;
  box-shadow: 0 -1px 1px 0 hsla(0,0%,0%,0.1);
}

.App .Header .grid,
.App .Footer .grid {
  display: grid;
  grid-column-gap: 1rem;
  align-items: center;
}

.App .Header .grid {
  grid-template-areas: 'logo title';
  grid-template-columns: 3rem auto 3rem;
  padding: 1rem 0;
}

.App .Header .grid .logo {
  grid-area: logo;
}

.App .Header .grid .title {
  grid-area: title;
}

.App .Footer .grid {
  grid-template-areas: '. banner source';
  grid-template-columns: 3rem auto 3rem;
}

.App .Footer .grid .banner {
  grid-area: banner;
  width: 15rem;
  justify-self: center;
}

.App .Footer .grid .source {
  grid-area: source;
}

.App .Body {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
}

.App .Body .route {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.App .Body .route .Main {
  flex-grow: 1;
  padding: 2rem 0;
}

.App .Body .dialog-bubble {
  color: hsla(180, 50%, 25%, 1);
  background-color: hsla(180, 50%, 60%, 0.1);
  box-shadow: 0 0 0 4px hsla(180, 50%, 60%, 0.1);
  border: 4px hsla(180, 50%, 50%, 0.25) dotted;
  border-radius: 5rem 2rem / 2rem 5rem;
  padding: 1rem;
  margin: 2rem 0;
}

.App a,
.App a:link {
  color: hsla(180, 50%, 55%, 1);
}
