#root, .App {
  height: 100%;
  min-height: vh;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App-header,
.App-footer {
  background: #fff;
  flex-grow: 0;
  flex-shrink: 0;
}

.App-main {
  flex-grow: 1;
  flex-shrink: 1;
}

.App-main.welcome {
  background-image: url('/placeholder.png');
  background-size: cover;
}

.App-main[data-mode='quiz'] {
  background: hsla(60, 50%, 90%, 1);
}

.App-menu.ui.text.menu {
  margin-top: 0;
  margin-bottom: 0;
}
@media only screen and (max-width: 767px) {
.App-menu.ui.text.menu {
}
}

.ui.menu .logo.image.item img {
  width: auto;
  margin-right: 0.5em;
}

.ui.menu .icon.logo.image.item img {
  height: 1.5rem;
}

.ui.menu .banner.logo.image.item img {
  height: 5rem;
  margin-left: -0.7em;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.map .north {
  fill: hsla(180, 50%, 50%, 1);
}

.map .middle {
  fill: hsla(90, 50%, 50%, 1);
}

.map .south {
  fill: hsla(60, 50%, 50%, 1);
}

.map .east {
  fill: hsla(350, 50%, 70%, 1);
}

.map .north,
.map .middle,
.map .south,
.map .east {
  stroke-width: 1px;
  stroke: hsla(0, 0%, 100%, 1);
  cursor: pointer;
}

.map .north:hover,
.map .middle:hover,
.map .south:hover,
.map .east:hover,
.map .north:focus,
.map .middle:focus,
.map .south:focus,
.map .east:focus,
.map .north:active,
.map .middle:active,
.map .south:active,
.map .east:active {
  fill: hsla(50, 100%, 50%, 1);
  stroke: hsla(50, 100%, 50%, 1);
}

.map .city,
.map .county {
}
.map .municipality {
  /*
  fill: hsla(330, 50%, 50%, 1);
  */
}

.Portal-dimmer {
  padding: 1rem 0;
}

.Portal-dimmer .button {
  color: #fff;
}

.Portal-dimmer .north:hover,
.Portal-dimmer .north:focus,
.Portal-dimmer .north:active {
  background-color: hsla(180, 50%, 40%, 1)!important;
}

.Portal-dimmer .middle:hover,
.Portal-dimmer .middle:focus,
.Portal-dimmer .middle:active {
  background-color: hsla(90, 50%, 40%, 1)!important;
}

.Portal-dimmer .south:hover,
.Portal-dimmer .south:focus,
.Portal-dimmer .south:active {
  background-color: hsla(60, 50%, 40%, 1)!important;
}

.Portal-dimmer .east:hover,
.Portal-dimmer .east:focus,
.Portal-dimmer .east:active {
  background-color: hsla(350, 50%, 60%, 1)!important;
}

.ui.button {
  margin: 0;
}
