.App {
  text-align: center;
}

.App-header,
.App-footer {
  background: #fff;
}

.App-menu.ui.text.menu {
  margin-top: 0;
  margin-bottom: 0;
}
@media only screen and (max-width: 767px) {
.App-menu.ui.text.menu {
}
}

.ui.menu .logo.image.item img {
  width: auto;
  margin-right: 0.5em;
}

.ui.menu .icon.logo.image.item img {
  height: 1.5rem;
}

.ui.menu .banner.logo.image.item img {
  height: 5rem;
  margin-left: -0.7em;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-welcome {
}

.map .north {
  fill: hsla(180, 50%, 50%, 1);
}

.map .middle {
  fill: hsla(90, 50%, 50%, 1);
}

.map .south {
  fill: hsla(60, 50%, 50%, 1);
}

.map .east {
  fill: hsla(350, 50%, 70%, 1);
}

.map .north,
.map .middle,
.map .south,
.map .east {
  stroke-width: 1px;
  stroke: hsla(0, 0%, 100%, 1);
}

.map .north:hover,
.map .middle:hover,
.map .south:hover,
.map .east:hover {
  fill: hsla(50, 100%, 50%, 1);
  stroke: hsla(50, 100%, 50%, 1);
  cursor: pointer;
}

.map .city,
.map .county {
}
.map .municipality {
  /*
  fill: hsla(330, 50%, 50%, 1);
  */
}

a {
  color: inherit;
}

a[data-action] {
  cursor: pointer;
}
